.ctverec {
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
    }
    .ctverec--small {
        width: 50px;
        height: 50px;
    }
    .ctverec--medium {
        width: 100px;
        height: 100px;
    }
    .ctverec--big {
        width: 150px;
        height: 150px;
        }
    .ctverec--zeleny {
        background-color: green;
    }
    .ctverec--modry {
        background-color: blue;
    }
    .ctverec--fialovy {
        background-color: purple;
    }
    .ctverec__p{
    color: white;
    }
    .ctverec__p--small {
        font-size: 14px;
    }
    .ctverec__p--medium {
        font-size: 18px;
    }
    .ctverec__p--big {
        font-size: 22px;
    }